.git
.github
.idea
.vscode
compose.yaml
docker
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/*.key
bootstrap/cache/*.php
.env
.env.*
!.env.example
tests
product
*.md
.DS_Store
